@font-face { font-family: Circular; src: url('assets/сircular-font/Circular/CircularStd-Bold.otf') format("opentype"); } 

body, html {
    font-family: Circular, sans-serif; 
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#1DB954,#191414 25%);
    margin: 0;
    min-height: 3000px;
}

a:link { color:#191414; text-decoration: none;}
a:visited { color:#191414; text-decoration: none;}
a:focus { color:#191414; text-decoration: none;}
a:hover { color:#191414; text-decoration: none;}
a:active { color:#191414; text-decoration: none;}

button {
    font-family: Circular;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.login-container {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 825px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.title {
    font-size: 12rem;
    padding-top: 2rem;
    color: white;
}

.login {
    font-size: 1rem;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    padding-right: 4em;
    padding-left: 4em;
    border-radius: 4em;
    background-color: #1DB954;
    color: white;
}

#login {
    color: white
}

.login:hover {
    cursor: pointer;
}

.info-tab {
    height: 100%;
    width: 695px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}

.right-tab {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.term-buttons {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    
}

.term-button {
    display: flex;
    font-size: .9rem;
    margin-left: .65em;
    margin-right: .65em;
    width: 10em;
    justify-content: center;
    padding-top: .65em;
    padding-bottom: .65em;
    border-radius: 3em;
    background-color: #1DB954;
    color: white;
    /* filter: drop-shadow(0 0 0.25rem white); */
}

.user-name {
    font-size: 3rem;
    color: white;
}

.profile-image-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-image {
    border-radius: 50%;
    filter: drop-shadow(0 0 0.75rem #191414);
    width: 75%;
}

.tab-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3.5em;
    justify-content: space-around;
}

.tab-button {
    display: flex;
    font-size: .9rem;
    margin-left: .65em;
    margin-right: .65em;
    width: 10em;
    justify-content: center;
    padding-top: .65em;
    padding-bottom: .65em;
    border-radius: 3em;
    background-color: #1DB954;
    color: white;
    /* filter: drop-shadow(0 0 0.25rem white); */
}

.box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

.box-image {
    width: 25%;
    object-fit: cover;
    height: auto;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}